body, html{
    padding: 0;
    margin: 0;
}
::-webkit-scrollbar {
    width: 0.625rem;
    height: 0.625rem;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #111;
    border-radius: 0.3125rem;
    box-shadow: inset 0.125rem 0.125rem 0.125rem rgba(255, 255, 255, 0.25),
      inset -0.125rem -0.125rem 0.125rem rgba(0, 0, 0, 0.25);
    cursor: default;
  }
  
  ::-webkit-scrollbar-track {
    background: #333;
  }
  
  ::selection {
    background: #fff;
    color: #333;
  }
  
  html,
  body {
    height: 100vh;
    height: 100dvh;
    margin: 0;
    overflow: hidden;
  }
  
  body {
    display: grid;
    grid-template-rows: calc(100dvh - 4rem) 4rem;
    font-family: system-ui, sans-serif;
  }
  
  canvas,
  .editor,
  #controls {
    grid-row: 1;
    grid-column: 1;
  }
  
  canvas {
    width: 100%;
    height: auto;
    object-fit: contain;
    background: black;
    touch-action: none;
  }
  
  .editor,
  .overlay,
  #error {
    background: repeating-linear-gradient(0deg, #000a, #1119, #000a .25rem);
    padding: 1em;
  }
  
  .editor {
    color: #fefefe;
    tab-size: 2;
    border: none;
    resize: none;
  }
  
  .editor:focus {
    outline: none;
  }
  
  #error {
    grid-row: 2;
    grid-column: 1;
    margin: 0;
    padding-block: 0;
    padding-top: .5em;
    color: firebrick;
    overflow: auto;
    text-wrap: pretty;
  }
  
  #indicator {
    visibility: hidden;
    position: absolute;
    top: calc(var(--top, 0px) - var(--scroll-top, 0px));
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid firebrick;
    transform: translateY(-25%);
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
  }
  
  .editor,
  .overlay {
    font-size: 1rem;
    line-height: 1.2;
    white-space: pre;
  }
  
  #controls {
    position: fixed;
    top: 1em;
    right: 2em;
  }
  
  .controls {
    position: relative;
    display: flex;
    gap: 1.5em;
    padding: .5em 1.25em;
    background: #1111;
    border-radius: 4px;
  }
  
  .controls::before,
  .controls::after {
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    transform: scale(.95);
    border-radius: inherit;
    opacity: 0;
  }
  
  .controls::before {
    background: #aef;
    animation: pulse 2s infinite;
  }
  
  .controls::after {
    background: #fefefe66;
    transition: transform 200ms ease-in-out;
  }
  
  .controls:hover::before,
  .controls:hover::after {
    opacity: 1;
  }
  
  .controls:hover::before {
    transform: scale(.98);
    filter: blur(2px);
  }
  
  .controls:hover::after {
    transform: scale(1.025, 1.1);
  }
  
  .controls:hover {
    background: #111f;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
  
    50% {
      transform: scale(1.0125);
    }
  
    100% {
      transform: scale(1);
    }
  }
  
  .hidden {
    display: none !important;
  }
  
  .opaque {
    opacity: 1 !important;
    background: #111 !important;
  }
  
  input {
    all: unset;
    opacity: .2;
    filter: saturate(0) invert(1);
    cursor: pointer;
    transition: opacity 200ms ease-in-out;
    padding: .25em .5em;
  }
  
  input:hover {
    opacity: 1;
  }
  
  .icon {
    text-align: center;
    line-height: 1;
  }
  
  #btnToggleView {
    width: 1.25em;
  }
  
  #btnToggleView::after {
    content: '👁';
  }
  
  #btnToggleView:checked::after {
    content: '✏️';
  }
  
  #btnToggleResolution::after {
    content: '1️⃣';
  }
  
  #btnToggleResolution:checked::after {
    content: '2️⃣';
  }
  
  #btnReset::after {
    content: '⏮️';
  }