body {
    font-family: "Noto Sans JP", sans-serif;
    margin: 0;
    padding: 0;
    height: fit-content;
    background-color: #DBE2FF;
    color: white;
}

.contego {
    display: flex;
    flex-wrap: wrap;
    height: 99%;
}

.panel1 {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 12%;
    background-color: #4F72A6;
    margin-bottom: 1%;
    align-items: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    /* Agrega bordes redondeados en la parte superior */
    padding-left: 1%;
    padding-right: 1%;
}

.panel2 {
    width: 14%;
    background-color: #85A3CF;
    margin-right: 1%;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}
.panel2 h1 {
    text-align: center;
    border-bottom: 2px solid #fff; /* Cambia el grosor y el color según tus preferencias */
    width: 50%; /* Define la longitud del borde inferior */
    margin: auto; /* Centra el elemento */
}


.lista{
    margin: 10px;
}
.lista a i{
    margin-right: 10px;
    font-size: 4vh;
    color: #fff;

}
.lista a{
    display: flex;
    align-items: center;
    transition: background-color 0.3s;
    text-decoration: none;
    color: inherit; 
    margin-bottom: 10px;
    border-radius: 10px;
}
.lista a:hover {
    background-color: lightgray;
    border-radius: 10px;
    cursor: pointer;
    font-size: 2.3vh; /* Reducimos el tamaño del texto al hacer hover */
}


.panel3 {
    height: 100vh;
    width: 85%;
    display: flex;
    background-color: #85A3CF;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    flex-direction: column;
}

.estados {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    height: 20vh;
}
.estados #contenedor{
    width: 25%;
    display: flex;
    align-items: center;
}



#icono{
    width: 50%;
    height: 100%;
}

.listo{
    background: linear-gradient(#57C29E, #CAE8DE);
    border-bottom: 1vh solid #30843C; /* Puedes ajustar el grosor y el color según necesites */
    border-radius: 30px;
}

.listo .bi-bi-check-circle-fill{
    color: #30843C;
}

.listo .bi-bi-caret-up-fill{
    color: #30843C;
}

.rea{
    color: #30843C;
}
.rec{
    color: #DB2777
}
.pen{
    color: #D97706;
}

.rechazado{
    background: linear-gradient( #FF6790,#FFB1C6);
    border-bottom: 1vh solid #DB2777; /* Puedes ajustar el grosor y el color según necesites */
    border-radius: 30px;
}

.rechgazado .bi-bi-x-circle-fill{
    color: #DB2777;
}

.rechazado .bi-bi-caret-up-fill{
    color: #DB2777;
}

.pendientes{
    background: linear-gradient(#FFB567, #EDD5BC);
    border-bottom: 1vh solid #D97706; /* Puedes ajustar el grosor y el color según necesites */
    border-radius: 30px;
}

.pendientes .bi-bi-clock-fill{
    color: #D97706;
}

.pendientes .bi-bi-caret-up-fill{
    color: #D97706;
}
.panel3 #titulo {
    background-color: #4F72A6;
    margin: 0;
    padding: 10px;
    border-top-right-radius: 15px;
}

#icono{
    font-size: 9vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

#contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
}

#contenido h3{
    margin: 10px;
}

#contenido p{
    font-size: 4vh;
    margin: 1px;
}
.bi-bi-caret-up-fill{
    height: 10%;
}
#contenido i{
    font-size: 2vw;
}

#subpanel {
    height: 100%;
    display: flex;
}

.otros {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.recientes{
    width: 50%;
    height: fit-content;
}
.eventos {
    display: flex;
    width: 25%;
    border: 2px solid #ddd;
    border-radius: 15px;
    flex-direction: column;
    height: fit-content;
}
.otros.recientes .titulado{
    background-color: rgb(130, 154, 180);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: 100%;
}
.recientes .titulado h1{
    padding-left: 10px;
}
body > div > div.panel3 > div > div.otros > div.recientes > div > h1{
    margin: 0px;
}


table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 15%;
}

th {
    background-color: rgb(130, 154, 180);
    padding: 5px;
}

td {
    border: 1px solid #ddd;
    padding: 4px;
    max-width: 40vw;
}

.redondito1 {
    border-top-left-radius: 15px;
}

.redondito2 {
    border-top-right-radius: 15px;
}

.redondito1#reves {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 15px;
}

.redondito2#reves {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 15px;
}


.eventos h1 {
    font-size: 3vh;
    margin-bottom: 5px;
}

.eventos ul {
    list-style-type: none;
    padding: 0;
    padding-left: 5px;
    margin: 0px;
}

.eventos li {
    border-top: 1px solid #ddd;
    padding: 4px 0;
}

.subcontenedor{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.table-container {
    max-width: 100%;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.descripcion-cell {
    max-width: 300px; /* Ajusta el ancho máximo según tu diseño */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}