body {
    font-family: "Noto Sans JP", sans-serif;
    margin: 0;
    padding: 0;
    height: 99vh;
    background-color: #DBE2FF;
    color: white;
}

.contego {
    display: flex;
    flex-wrap: wrap;
    height: 90%;
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
}

.panel1 {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 12%;
    background-color: #4F72A6;
    margin-bottom: 1%;
    align-items: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    /* Agrega bordes redondeados en la parte superior */
    padding-left: 1%;
    padding-right: 1%;
}

.panel2 {
    height: 88%;
    width: 14%;
    background-color: #85A3CF;
    margin-right: 1%;
    border-bottom-left-radius: 15px;
    /* Agrega borde redondeado en la esquina inferior izquierda */
    border-top-left-radius: 15px;
    /* Agrega borde redondeado en la esquina superior izquierda */
}
.panel2 h1 {
    text-align: center;
    border-bottom: 2px solid #fff; /* Cambia el grosor y el color según tus preferencias */
    width: 50%; /* Define la longitud del borde inferior */
    margin: auto; /* Centra el elemento */
}


.lista{
    margin: 10px;
}
.lista a i{
    margin-right: 10px;
    font-size: 4vh;
    color: #fff;
}
.lista a{
    display: flex;
    align-items: center;
    transition: background-color 0.3s;
    text-decoration: none;
    color: inherit; 
    margin-bottom: 10px;
}
.lista a:hover {
    background-color: lightgray;
    border-radius: 10px;
    cursor: pointer;
    font-size: 2.3vh; /* Reducimos el tamaño del texto al hacer hover */
}


.panel3 {
    height: 88%;
    width: 85%;
    display: flex;
    background-color: #85A3CF;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    flex-direction: column;
}

.estados {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    height: 20vh;
}
.estados #contenedor{
    width: 25%;
    display: flex;
    align-items: center;
}



#icono{
    width: 50%;
    height: 100%;
}

.listo{
    background: linear-gradient(#57C29E, #CAE8DE);
    border-bottom: 1vh solid #30843C; /* Puedes ajustar el grosor y el color según necesites */
    border-radius: 30px;
}

.listo .bi-bi-check-circle-fill{
    color: #30843C;
}

.listo .bi-bi-caret-up-fill{
    color: #30843C;
}
.rechazado{
    background: linear-gradient( #FF6790,#FFB1C6);
    border-bottom: 1vh solid #DB2777; /* Puedes ajustar el grosor y el color según necesites */
    border-radius: 30px;
}

.rechgazado .bi-bi-x-circle-fill{
    color: #DB2777;
}

.rechazado .bi-bi-caret-up-fill{
    color: #DB2777;
}

.pendientes{
    background: linear-gradient(#FFB567, #EDD5BC);
    border-bottom: 1vh solid #D97706; /* Puedes ajustar el grosor y el color según necesites */
    border-radius: 30px;
}

.pendientes .bi-bi-clock-fill{
    color: #D97706;
}

.pendientes .bi-bi-caret-up-fill{
    color: #D97706;
}
.panel3 #titulo {
    background-color: #4F72A6;
    margin: 0;
    padding: 10px;
    border-top-right-radius: 15px;
}

#icono{
    font-size: 9vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

#contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
}

#contenido h3{
    margin: 10px;
}

#contenido p{
    font-size: 4vh;
    margin: 1px;
}
.bi-bi-caret-up-fill{
    height: 10%;
}
#contenido i{
    font-size: 2vw;
}

#subpanel {
    height: 100%;
    display: flex;
}

.otros {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.recientes{
    width: 50%;
    height: 50%;
}
.eventos {
    display: flex;
    width: 25%;
    border: 2px solid #ddd;
    border-radius: 15px;
    flex-direction: column;
    height: fit-content;
}
.eventos .titulado{
    background-color: rgb(130, 154, 180);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: 100%;
}
.eventos .titulado h1{
    padding-left: 10px;
}

.redondito1 {
    border-top-left-radius: 15px;
}

.redondito2 {
    border-top-right-radius: 15px;
}

.redondito1#reves {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 15px;
}

.redondito2#reves {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 15px;
}


.eventos h1 {
    font-size: 3vh;
    margin-bottom: 5px;
}

.eventos ul {
    list-style-type: none;
    padding: 0;
}

.eventos li {
    border-top: 1px solid #ddd;
    padding: 4px 0;
}

.subcontenedor{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.contenedor-tabla{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.subtitulo{
    width: 90%;
    height: 10%;
    margin: 0px;
    text-align: center;
    background: rgb(130, 154, 180);
    border-top-left-radius: 15px; border-top-right-radius: 15px;
}

.contenido-subtitulo{
    margin: 0px;
    margin-bottom: 1%;
}    


table.blueTable {
    border: 1px solid #184789;
    width: 90%;
    height: 80%;
    text-align: left;
    border-collapse: collapse;
  }
  table.blueTable td, table.blueTable th {
    border: 2px solid #184789;
    padding: 10px 10px;
  }
  table.blueTable tbody td {
    font-size: 13px;
  }
  table.blueTable thead {
    background: #F3F3FE;
    background: -moz-linear-gradient(top, #f6f6fe 0%, #f4f4fe 66%, #F3F3FE 100%);
    background: -webkit-linear-gradient(top, #f6f6fe 0%, #f4f4fe 66%, #F3F3FE 100%);
    background: linear-gradient(to bottom, #f6f6fe 0%, #f4f4fe 66%, #F3F3FE 100%);
  }
  table.blueTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #12458D;
    text-align: center;
    border-left: 2px solid #184789;
  }
  
  table.blueTable tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    background: rgb(130, 154, 180);
  }
  
  table.blueTable tfoot td {
    font-size: 14px;
  }
  table.blueTable tfoot .links {
    text-align: right;
  }
  table.blueTable tfoot .links a{
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
  }
  table.blueTable tr td:first-child{
    width: 10px;
  }

