@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

html, body{
    font-family: "Noto Sans JP", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #DBE2FF;
    color: white;
}

.success {
    color: black;
    font-weight: bold;
    border: green 5px solid;
    margin: 10px;
}

.error {
    color: black;
    font-weight: bold;
    border: red 5px solid;
    margin: 10px;
}

.warning {
    color: black;
    font-weight: bold;
    border: orange 5px solid;
    margin: 10px;
}

.container {
    margin: 10px;
}